In [1]:
#import libs
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [4]:
#Reading the Data
df = pd.read_csv(filepath_or_buffer = "E:\Git Repo's\Students-Performance-in-Exams-Kaggle-\StudentsPerformance.csv",header = 0)

In [5]:
#Reading top few rows of Data Set
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [7]:
#Check for null values
df.isnull().sum()
#No Null Values are found

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [9]:
#Getting Data Points for All Scores availbale
ML_DataPoints = pd.read_csv(filepath_or_buffer = "E:\Git Repo's\Students-Performance-in-Exams-Kaggle-\StudentsPerformance.csv",header = 0,
                           usecols = ['math score','reading score','writing score'])
#Getting Test Prep Course Values
ML_Labels = pd.read_csv(filepath_or_buffer = "E:\Git Repo's\Students-Performance-in-Exams-Kaggle-\StudentsPerformance.csv",header = 0,usecols=['test preparation course'])

In [12]:
#Load MinMaxScaler
MNScaler = MinMaxScaler()
MNScaler.fit(ML_DataPoints) #Fitting the Scores
T_DataPoints = MNScaler.transform(ML_DataPoints) #Transform the Scores

In [13]:
#Load Label Encoder
LEncoder = LabelEncoder()
LEncoder.fit(ML_Labels)
T_Labels = LEncoder.transform(ML_Labels)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
#Split the DATA SET
XTrain,XTest,YTrain,YTest = train_test_split(T_DataPoints,T_Labels,random_state=10)

In [25]:
#Apply Random Forest Classifier:
RandomForest = RandomForestClassifier(n_estimators = 10,random_state=5)

In [26]:
RandomForest.fit(XTrain,YTrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=5, verbose=0, warm_start=False)

In [27]:
RandomForest.fit(XTest,YTest)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=5, verbose=0, warm_start=False)

In [28]:
RandomForest.score(XTrain,YTrain)

0.6213333333333333

In [29]:
RandomForest.score(XTest,YTest)
#We can see that the Data Tends to UnderFit as it performs well on Test Set while Average on Training Set

0.976